.cakemaker__navbar-menu{
    height: 370px;
    background-color: #CEC0D3;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row wrap;
}

.cakemaker__navbar-menu__button{
    box-sizing: border-box;
    transition: 0.3s;
    width: 390px;
    max-width: 390px;
    height: 176px;
    max-height: 176px;
    border-radius: 46px;
    background-color: #AB80BA;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #FFFFFF;
    border: 1px solid black;
    margin-top: 90px;
    justify-content: space-between;
    flex-grow: 1;
    cursor: pointer;
}

.cakemaker__navbar-menu__button:hover{
    transition: 0.3s;
    border: 3px solid white;
    background-color: #9c71ab;
    font-size: 50px;
    width: 400px;
    height: 190px;
}



.cakemaker__navbar-menu__button p{
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.cakemaker__navbar-menu__number{
    font-size: 48px;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    width: 377px;
    text-align: center;
    min-width: 1000px;
}

.windowTime{
    position: fixed;
    margin-top: 60px;;
    min-width: 700px;
    min-height: 550px;
    background-color: rgba(128, 128, 128, 0.818);
}

.windowTime button{
    margin-left: auto;
    height: 40px;
    width: 40px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    cursor: pointer;
    position: absolute;
}


.hidden{
    display: none;
}

.cakemaker__inputs{
    flex-direction: column;
    margin-top: 70px;
    width: 500px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
}

.cakemaker__inputs input{
    min-height: 50px;
    text-align: center;
    font-size: 30px;

}

.cakemaker__inputs label{
    color: white;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
    text-align: center;
}