.cake{
    width: 634px;
    height: 273px;
    margin-bottom: 40px;
}

.cake img{
    transition: 0.4s;
    z-index: 2;
    width: 358px;
    height: 269px;
    margin-right: auto;
    box-shadow: 6px 3px 3px rgb(96, 94, 94);
    cursor: pointer;
}

.cake img:hover{
    width: 365px;
    height: 275px;
    transition: 0.4s;
    transform: scale(1.1);
}

.cake__description{
    position: relative;
    font-family: "Kelly Slab", sans-serif;
    z-index: 1;
    padding-top: 20px;
    width: 248px;
    height: 269px;
    background-color: #dec6a5;
    box-shadow: 6px 3px 3px rgb(96, 94, 94);
    box-sizing: border-box;
}

.cake__description p{
    display: inline-block;
    text-align: center;
    color: #8944a3;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    padding: 20px 20px;
    line-height: 22px;
}


.cake{
    margin-left: 40px;
}

.cake__description h3{
    text-align: center;
    color:#6f2d87;
    cursor: pointer;
}

.cake__description__name-input{
    margin-left: 30px;
    width: 180px;
}

.cake__description__description-input{
    margin-top: 20px;
    margin-left: 30px;
    width: 180px;
    height: 140px;
}

.cake__description h3:hover{
    text-decoration: underline;
}

.cake__description__panel .deleteCake{
    position: absolute;
    transition: 0.2s;
    background-color: #84479a;
    color: #fff;
    cursor: pointer;
    height: 30px;
    width: 90px;
    bottom: 10px;
    left: 20px;
}

.cake__description__panel .deleteCake:hover{
    transition: 0.2s;
    border-color: #fff;
}

.cake__description__panel .editCake{
    position: absolute;
    transition: 0.2s;
    background-color: #84479a;
    color: #fff;
    cursor: pointer;
    height: 30px;
    width: 90px;
    bottom: 10px;
    left: 120px;
}

.cake__description__panel .editCake:hover{
    transition: 0.2s;
    border-color: #fff;
}

.cake__image-edit{
    height: 40px;
    margin-top: 80px;
    width: 370px;
}