.about-us__navbar-menu{
    height: 150px;
    background-color: #CEC0D3;
}

.flex{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: row wrap;
}

.about-us__navbar-menu__button{
    transition: 0.3s;
    box-sizing: border-box;
    width: 390px;
    height: 90px;
    max-width: 390px;
    border-radius: 46px;
    background-color: #AB80BA;
    font-family: "Kelly Slab", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    color: #FFFFFF;
    border: 1px solid black;
    margin-top: 20px;
    justify-content: space-between;
    flex-grow: 1;
    cursor: pointer;
}

.about-us__navbar-menu__button:hover{
    transition: 0.3s;
    border: 3px solid white;
    background-color: #9c71ab;
    font-size: 50px;
    width: 400px;
    height: 110px;
    max-width: 400px;
    max-height: 190px;
}

.about-us__navbar-menu__button p{
    text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
             1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
}

.about-us__navbar-menu__button.catalog{
    background-color: #785B81;
}

.about-us__navbar-menu__button.catalog:hover{
    border: 1px solid black;
    width: 390px;
    height: 176px;
    max-width: 390px;
    cursor:auto;
    font-size: 48px;
}


.disabled{
    background-color: #785B81;
}

.disabled:hover{
    border: 1px solid black;
    width: 390px;
    height: 90px;
    max-width: 390px;
    cursor:auto;
    font-size: 48px;
    background-color: #785B81;
}